body{
  font-family: sans-serif;
  background-color: black;
  background-image: url("coffee.gif");
  background-repeat: no-repeat;
}

#background{
  position:absolute;
  left:50%;
  top:50%;
  width: 34em;
  height: 32em;
  margin-left:-17em;
  margin-top:-19em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#info {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 540px;
}

#clock{
  background-color:rgba(13,13,13,0.8);
  border: solid white 1px;
  border-radius: 4px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 20em;
}

#day{
  margin-top: 10px;
  font-size: 35px;
  flex-wrap: wrap;
  width: 40px;
}

#date{
  margin-top: 10px;
  font-size: 22px;
}

#time{
  font-size: 100px;
}

#weather{
  background-color:rgba(13,13,13,0.8);
  border: solid white 1px;
  border-radius: 4px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 10em;
  padding: 14px 0;
}
#temp {
  font-size: 40px;
}
#windSp {
  font-size: 10px;
}

ul{
  padding-top: 16px;
  border: solid white 1px;
  border-radius: 4px;
  background-color:rgba(13,13,13,0.8);
  width: 500px;
}

a{
  text-decoration: none;
  color: white;
  font-size: 45px;
  transition: 0.5s;
}

a:hover{
  color: darkred;
  transition: 0.5s;
}

li{
  list-style: none;
  margin-bottom: 10px;
}
