body{
  font-family: sans-serif;
  background-color: black;
  background-image: url("coffee.gif");
  background-repeat: no-repeat;
}

#background{
  position:absolute;
  left:50%;
  top:50%;
  width: 34em;
  height: 35em;
  margin-left:-17em;
  margin-top:-19em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#clock{
  background-color:rgba(13,13,13,0.8);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

#day{
  margin-top: 10px;
  font-size: 35px;
  flex-wrap: wrap;
  width: 40px;
}

#date{
  margin-top: 10px;
  font-size: 22px;
}

#time{
  margin-top: -10px;
  font-size: 100px;
}

ul{
  background-color:rgba(13,13,13,0.8);
}

a{
  text-decoration: none;
  color: white;
  font-size: 60px;
  transition: 0.5s;
}

a:hover{
  color: darkred;
  transition: 0.5s;
}

li{
  list-style: none;
  margin-bottom: 10px;
}
